certifi==2019.3.9
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.1
django-filter==2.1.0
django-widget-tweaks==1.4.3
djangorestframework==3.9.4
idna==2.8
omdb==0.10.1
Pillow==6.0.0
python-decouple==3.1
pytz==2019.1
requests==2.21.0
sqlparse==0.3.0
static3==0.7.0
urllib3==1.24.3
