{% extends 'base.html' %}

{% load widget_tweaks %}

{%block content%}
<div id="logo-wrapper">
    <h1>DeepER</h1>
    <h3>Sign up</h3>
    <div id="login">

   <form method="post">
   {% csrf_token %}
   {% for field in form %}
     <div>
         <p style="color:white;">{{ field.label_tag }}</p>
       {{ field }}
       {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
       {% endfor %}
     </div>
   {% endfor %}
   <button type="submit" class="nes-btn is-error">Sign up</button>
 </form>


</div>




{%endblock%}



